<!-- <div class="container-fluid"> -->
  <!-- <div class="row row-no-gutters"> -->
    <!-- <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div> -->
    <!-- <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8</div> -->
  <!-- </div> -->
<!-- </div> -->

<section class="no-padding" id="portfolio">	
    <div class="container-fluid">
		{% assign image_files = site.static_files | where: "image", true %}
		{% for image in image_files %}	
        <div class="row row-no-gutters">
		<div class="col-sm-6">
			<img src="{{site.baseurl}}{{ image.path }}" class="img-responsive" alt="">
		</div>
        </div>
		{% endfor %}
    </div>
</section>
