<head>
	<title>{{ site.title }}</title>
	<meta name="keywords" content="Tủ bếp" />
    <meta name="description" content="{{ site.description }}" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | absolute_url }}" type="text/css">
	
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<!-- <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" /> -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->

	<link rel="stylesheet" href="{{ "/assets/css/custom.css" | absolute_url }}" type="text/css">
	<link rel="stylesheet" href="{{ "/assets/css/photo-grid.css" | absolute_url }}" type="text/css">
	<!-- <script src="{{site.url}}/assets/js/jquery.min.js"></script> -->
	<!-- <script src="{{site.url}}/assets/js/jquery.scrollex.min.js"></script> -->
	<!-- <script src="{{site.url}}/assets/js/jquery.scrolly.min.js"></script> -->
	<!-- <script src="{{site.url}}/assets/js/main.js"></script> -->
	<!-- <script src="{{site.url}}/assets/js/skel.min.js"></script> -->
	<!-- <script src="{{site.url}}/assets/js/util.js"></script> -->
	{% seo %}
	
</head>
