<div class="container">
	<h2 class="text-center">VẬT LIỆU GỖ AN CƯỜNG</h2>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<a href="#"><img src="img/tuvan/go-acrylic-bong-guong.jpg" alt="tu bep acrylic"></a>
		<h3><a href="#">ACRYLIC</a></h3>
		<span class="sp1">Gỗ Acrylic hay còn gọi là gỗ bóng gương với màu sắc gỗ Acrylic rất phong phú với 35 màu Acrylic đủ loại, từ màu trơn, metalic đến những màu vân gỗ sang trọng.</span>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<a href="#" target="_blank"><img src="img/tuvan/go-melamine-mdf.jpg" alt="thiet bi bep malloca"></a>
		<h3><a href="#">MELAMINE</a></h3>
		<span class="sp1">Gỗ Melamine MDF với ưu điểm mịn, bền và chịu nhiệt tốt với bề mặt đa dạng và giống vân gỗ tự nhiên. Với hơn 240 màu từ các màu trơn cho đến các màu vân gỗ.</span>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<a href="#" target="_blank"><img src="img/tuvan/go-laminate-kingdom.jpg" alt="tu bep laminate"></a>
		<h3><a href="#">LAMINATE</a></h3>
		<span class="sp1">Gỗ Laminate hay còn gọi là "Formica" là vật liệu có bề mặt chống trầy xước, chịu va đập và nhiệt độ cao. Độ bền hàng chục năm, đa dạng mẫu mã với hơn 500 mẫu.</span>
	</div>
</div>
